:host {
  display: block;
  height: 100%;
}

ion-tabs.usuario-logueado {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

ion-router-outlet {
  flex: 1;
  height: 100%;
  min-height: 0;
}
