ion-content.scrollable-page {
  --padding-top: 16px;
  --padding-end: 16px;
  --padding-bottom: 20px;
  --padding-start: 16px;
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.empty-state,
.loading,
.error {
  text-align: center;
  padding: 1.5rem;
}
